.contrastButtonUserEffects {
  background: var(--contrastBackground);
  outline: none;
  color: var(--mainTextColor);
}
.contrastButtonUserEffects:hover {
  background: var(--contrastBackgroundHover);
}
.contrastButtonUserEffects:active {
  background: var(--contrastBackgroundActive);
}

.main {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;

  background: var(--mainGradient);
  color: var(--mainTextColor);
}

.loaderWrapper {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--mainGradient);
  opacity: 1;
  transition: opacity 0.5s ease-out;
  gap: 20px;
  z-index: 2;
}

.loaderFade {
  opacity: 0;
  pointer-events: none;
}

.loaderTitle {
  font-size: 6em;
}

.content {
  padding: 32px 24px;
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.switcher {
  background-color: #111;
  cursor: pointer;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  height: auto;
  min-height: 55px;
  border-radius: 30px;
  position: relative;
}

.switcher .switcherToggler {
  background-color: white;
  width: 45px;
  height: 45px;
  z-index: 1;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 4%;
  top: 9%;
  transition: all 0.4s ease;
}

.switcherInput:checked + .moon + .switcherToggler {
  left: 60%;
}

.switcherInput {
  position: absolute;
  z-index: -2;
  opacity: 0;
}

.moon {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #d0d5d2;
  right: 17%;
  top: -15%;
}

.sun {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #ffbb52;
  left: 4%;
  top: 9%;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filtersTitle {
  font-size: 25px;
}

.filterButtonsWrapper {
  display: flex;
  gap: 15px;
}

.filterButton {
  composes: contrastButtonUserEffects;

  display: flex;
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  outline: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.searchBarInput {
  position: relative;
  display: flex;
  border-radius: 20px;
  background: var(--searchBarColor);
  height: 50px;

  width: 70%;
  min-width: 300px;
  align-self: center;

  padding: 8px 16px;

  color: var(--searchBarTextColor);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;

  border: none;
  outline: none;
}

.searchBarInput::placeholder {
  color: var(--searchBarPlaceholder);
}

.searchBarInput:hover {
  background: var(--searchBarHover);
}

.searchBarInput:hover::placeholder {
  color: var(--searchBarPlaceholderHover);
}

.plusButton {
  composes: contrastButtonUserEffects;

  border-radius: 50px;
  border: none;

  width: 30%;
  min-width: 130px;

  cursor: pointer;

  padding: 10px;

  font-size: 20px;
}

.tasksWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  max-height: 50vw;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

.task {
  border-radius: 8px;
  background: var(--contrastBackground);
  min-height: 30px;
  min-width: 200px;
  display: flex;
  padding: 30px;
  flex-shrink: 0;

  font-size: 20px;

  justify-content: space-between;
}

.taskLeftWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.taskDone {
  border-radius: 8px;
  background: var(--taskDoneColor);
  color: var(--taskDoneTextColor);
}

.taskCheckbox {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: -1;
}

.taskCheckboxLabel {
  position: relative;
  cursor: pointer;

  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;

  border: 2px solid var(--taskCheckboxColor);
}

.taskCheckboxLabel:has(> .taskCheckbox:checked) {
  border: 2px solid var(--taskCheckboxCheckedColor);
}

.taskCheckboxLabel:has(> .taskCheckbox:checked)::after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 14px;
  border: solid var(--taskCheckboxCheckedColor);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.taskDelete {
  border: none;
  background: var(--deleteButtonColor);
  padding: 5px 10px;

  color: var(--deleteButtonTextColor);

  border-radius: 5px;
  cursor: pointer;
}

.taskDelete:hover {
  background: var(--deleteButtonHoverColor);
}

.taskDoneDelete {
  background: var(--deleteButtonDoneColor);
  color: var(--deleteButtonDoneTextColor);
}

.taskDoneDelete:hover {
  background: var(--deleteButtonDoneHover);
}
